<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yogosaza.hobby.mapper.UserMapper">

    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="UserDomain">
        INSERT INTO USERS(
            login_id,
            password,
            name,
            email,
            phone,
            created_at
        )
        VALUES(
            #{loginId},
            #{password},
            #{name},
            #{email},
            #{phone},
            #{createdAt})
    </insert>

    <!-- 회원 아이디 중복 확인 -->
    <select id="existsByLoginId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM users
        WHERE login_id = #{loginId}
    </select>

    <!-- 회원 상세 조회  -->
    <select id="selectUser" resultType="UserDomain">
        SELECT
                id,
                login_id,
                name,
                email,
                phone,
                created_at
        FROM    users
        WHERE   login_id = #{loginId}
    </select>


    <!-- 로그인 : 아이디, 비밀번호 비교 -->
<!--    <select id="getMemberByMemberIdAndMemberPwd" parameterType="MemberLoginDto" resultType="MemberDomain">-->
<!--        select member_seq, member_id, member_pwd, member_name, member_phone, member_address, member_create_date-->
<!--        from member-->
<!--        where member_id = #{memberId} and member_pwd = #{memberPwd}-->
<!--    </select>-->




    <!-- 회원 전부 조회  -->
<!--    <select id="getMembers" resultType="MemberOutputDto">-->
<!--        select member_seq, member_id, member_name, member_phone, member_address, member_create_date-->
<!--        from member-->
<!--    </select>-->


    <!-- 회원 변경  -->
<!--    <update id="updateMember" parameterType="MemberInputDto">-->
<!--        update member-->
<!--        <trim prefix="set" suffixOverrides=",">-->
<!--            <if test="memberPwd != null">member_pwd = #{memberPwd},</if>-->
<!--            <if test="memberName != null">member_name = #{memberName},</if>-->
<!--            <if test="memberPhone != null">member_phone = #{memberPhone},</if>-->
<!--            <if test="memberAddress != null">member_address = #{memberAddress},</if>-->
<!--        </trim>-->
<!--        where member_id = #{memberId}-->
<!--    </update>-->

    <!-- 회원 삭제 -->
<!--    <delete id="deleteMember" parameterType="int">-->
<!--        delete from member-->
<!--        where member_seq = #{memberSeq}-->
<!--    </delete>-->

</mapper>